
.header-section{
        background-image: url(pic-of-players/headerpic.png);
        border-radius: 14px;
        background-repeat: no-repeat;
        height: 428px;
        background-position: center;
        background-size: cover;
}
#calculation-div{
        min-width: 3;
}